@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Membuat placeholder input lebih gelap dan kontras */
input::placeholder {
  color: #751f46;
  opacity: 0.8;
  font-weight: 500;
  letter-spacing: 0.5px;
}

input {
  color: #751f46;
  font-weight: 600;
  font-size: 16px;
}
